{
	"root": true,
	"parser": "@typescript-eslint/parser",
	"env": { "node": true, "browser": true },
	"plugins": ["@typescript-eslint"],
	"extends": [
		"eslint:recommended",
		"plugin:@typescript-eslint/eslint-recommended",
		"plugin:@typescript-eslint/recommended",
		"airbnb-base",
		"prettier"
	],
	"parserOptions": {
		"sourceType": "module"
	},
	"rules": {
		"no-unused-vars": "off",
		"@typescript-eslint/no-unused-vars": ["error", { "args": "none" }],
		"@typescript-eslint/ban-ts-comment": "off",
		"no-prototype-builtins": "off",
		"no-new": "off",
		"import/prefer-default-export": "off",
		"import/no-unresolved": "off",
		"import/extensions": "off",
		"consistent-return": "off",
		"no-console": "off"
	}
}
