@import url("./src/obsidian-task-line-highlight-extension.css");
@import url("./src/status-bar.css");
@import url("./src/popover.css");
@import url("./src/obsidian-floating-timer.css");

body {
	--interval-timer-focus-color: #ee6152;
	--interval-timer-break-color: #4cbd4f;
	--interval-timer-warning-color: #e6a23c;
}
