.interval-timer-status-bar-time-separator-running {
	animation: interval-timer-blink 1s steps(1, end) infinite;
}

@keyframes interval-timer-blink {
	50% {
		visibility: hidden;
	}
}

.interval-timer-status-bar {
	--interval-timer-accent: var(--interval-timer-focus-color);

	position: relative;
	isolation: isolate;
}

.interval-timer-status-bar.interval-timer-status-bar-focus {
	--interval-timer-accent: var(--interval-timer-focus-color);

	color: var(--interval-timer-accent);
}

.interval-timer-status-bar.interval-timer-status-bar-break {
	--interval-timer-accent: var(--interval-timer-break-color);

	color: var(--interval-timer-accent);
}

@media (hover: hover) {
	.status-bar-item.interval-timer-status-bar.mod-clickable:hover {
		color: var(--interval-timer-accent);
	}
}

.interval-timer-status-bar.interval-timer-status-bar-popover-floating {
	display: contents;
}

.interval-timer-status-bar-popover-floating
	> .interval-timer-status-bar-compact {
	display: none;
}

.interval-timer-status-bar:hover
	.interval-timer-popover:not(.interval-timer-popover-dismissed),
.interval-timer-status-bar:focus-visible
	.interval-timer-popover:not(.interval-timer-popover-dismissed),
.interval-timer-status-bar:focus-within
	.interval-timer-popover:not(.interval-timer-popover-dismissed) {
	visibility: visible;
	opacity: 1;
}

.interval-timer-status-bar .interval-timer-popover-dismissed {
	visibility: hidden;
	pointer-events: none;
	opacity: 0;
	transition: none;
}
